.container {
   border: 2px solid red;
   display: grid;
   height:500px;
   row-gap: 10px;
   column-gap: 10px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.4fr 1fr 1fr 0.3fr;
   grid-template-areas: "nav nav nav nav"
                        "sidebar main main div1"
                        "sidebar box1 box2 box3"
                        "sidebar footer footer footer";
                        
}
.header {
    grid-area: nav;
    border: 1px solid green;
}
.div1 {
    grid-area: div1;
    background-color: chartreuse;
}
.sidebar {
    grid-area: sidebar;
    border: 1px solid blue;
}
.main {
    grid-area: main;
    border: 1px solid blueviolet;
}
.box1 {
    grid-area: box1;
    border: 1px solid black;
}
.box2 {
    grid-area: box2;
    border: 1px solid aqua;
}
.box3 {
    grid-area: box3;
    border: 1px solid brown;
}
.footer {
    grid-area: footer;
    border: 1px solid hotpink;
}

@media screen and (max-width:600px) {
    .container {
        grid-template-areas :"nav"
                            "sidebar"
                            "main"
                            "div1"
                            "box1"
                            "box2"
                            "box3"
                            "footer";
        grid-template-columns: 1fr;
    }
    
}
